:root {
    --black: #3C3C3C;
    --white: #FDFFFC;
    --red: #C4315F;
    --grey: #4B584E;
}

* {
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, var(--grey), var(--black));
}

.output {
    border: 2px solid black;
}

.calculator {
    width: fit-content;
    height: fit-content;
    margin: auto;
    border: 5px solid black;
    border-radius: 10px;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.input, .spanned {
    font-size: 2rem;
    border: 3px solid var(--black);
    border-radius: 10px;
    background-color: var(--white);
    outline: none;
}

.input:hover, .spanned:hover {
    color: var(--red);
}

.spanned {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: var(--red);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 0.5rem;
    word-wrap: break-word;
    word-break: break-all;
}

.previous-input {
    color: var(--black);
    font-size: 1.5rem;
}

.current-input {
    color: black;
    font-size: 2.5rem;
}